#nfrt {
  position: absolute;
  z-index: 1000000;
  top: 50px;
  right: 25px;
}

#nfrt .nfrt-dialog {
  display: none;
  background: black;
  padding: 20px;
}

#nfrt button {
  background: #333333;
}

#nfrt .row {
  margin-top: 8px;
  margin-bottom: 10px;
}

#nfrt h3 {
  margin-bottom: 12px;
}